@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Fraunces/Fraunces-500.woff2') format('woff2');
  size-adjust: 99.88%;
  ascent-override: 91.7%;
  descent-override: 21.92%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Fraunces/Fraunces-600.woff2') format('woff2');
  size-adjust: 99.88%;
  ascent-override: 91.7%;
  descent-override: 21.92%;
  line-gap-override: 0%;
}
